body {
    color : white;
    font-family : "McLaren", sans-serif;
    background-image : url("https://source.unsplash.com/1600x900/?dark,star");
    /* background-image : url("picture/mountains.jpg"); 배경 하나 말고 Unsplash Source사이트 이용*/ 
    background-size : cover;
    background-color : black;
    min-height : 100vh; /*화면 view height를 100프로 사용하겠다. 남는 자리 없도록.*/
}

#header {
    height : 70px;
    position : relative;
    top : 20px; 
}

#date {
    position : absolute;
    right : 20px;
}
#time{
    position : absolute;
    bottom : 10px; right : 100px;
    padding : 10px;
}
.weather{
    position : absolute;
    bottom : 10px; right : 20px;
    padding : 10px;
}

.todo{
    font-size: x-large;
}
.todo:hover{
    font-style: italic;
}

.sub_title{
    font-size: xx-large
}

#goo {
    position : absolute;
    height : 70px;
}

input::placeholder {
    color: rgba(252, 249, 249, 0.5);
    font-style: italic;
  }

.goo_text {
    position : absolute;
    top : 4px; left : 10px;
    height : 50px; width : 250px;
    background-color : transparent;
    border : solid rgba(252, 249, 249, 0.5);
    border-radius : 30px;
    font-size: 20px;
}


.goo_button {
    position : absolute;
    bottom : 3px; left : 250px;
    height : 70px; width : 95px;
    padding : 5px;
}

.goo_button:hover{
    transform : rotate(360deg);
    transition-duration: 2s;
}

#main {
    position : absolute;
    height : 500px;
    width : 2000px;
    margin : -250px 0px 0px -1000px;
    top : 50%; left : 50%;
    padding : 5px;
    text-align : center;
    font-size : 70px;
}

.todo_button {
    height : 100px; width : 200px;
    padding : 50px;
}

.saying {
    position : relative;
    text-align : center;
    top : 710px; left : 50%;
    height : 30px; width: 480px;
    margin : 30px 0px 0px -240px;
    background-color : rgba(255,255,255, 0.5);
    border-radius : 30px;
    font-size: 20px;
    color : black;
}

.logout {
    position : relative;
    text-align : center;
    top : 710px; left : 90%; 
    height : 50px; width: 150px;
    border-radius : 30px;
}